# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc

# Django
db.sqlite3

# Environment variables
.env

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/

# Sphinx (we’ll control this later)
docs/_build/