.note-card {
    background: #e6c1ee;
    border: 1px solid #37024d;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.card .card-footer {
    background: transparent;
    border-top: none;
}